html,
body {
    height: 100%;
}

body {
    padding-top: 50px;
}


/* Footer Styles */

footer {
    margin: 50px 0;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

#searchForm {
    position:absolute;
    top:40%;
    background-color: rgb(30,24,14);

}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 768px) {

  .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    max-width:inherit;
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}


.row-centered {
    text-align:center;
    margin: auto;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */

  }


/* Navigation */
.navbar-default {
    font-size: 15px;
    background-color: rgba(224, 128, 38, 1);
    border-width: 0px;
    border-radius: 0px;

}


.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);

}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
  color: #fbfbfb;
}

.navbar-default .navbar-text {
  color: #f9f9f9;
}

.navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(224, 128, 38, 1);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: rgba(252, 252, 252, 1);
    background-color: rgba(250, 159, 85, 1);
}

.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #e67e22;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(224, 128, 38, 1);
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: rgba(252, 252, 252, 1);
    background-color: rgba(250, 159, 85, 1);
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #e67e22;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(217, 111, 11, 1);

}

.navbar-default .navbar-toggle {
    border-color: #d96f0b;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #d96f0b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f9f9f9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f9f9f9;
}
.navbar-default .navbar-link {
  color: #f9f9f9;
}
.navbar-default .navbar-link:hover {
  color: #fbfbfb;
}


.carousel{
  margin-top: 5px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f9f9f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fbfbfb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, 
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, 
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fbfbfb;
    background-color: #ff6500;
  }
}


#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/*.selectWidth {
  width:auto !important;
}*/